* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Big John';
    src: url("../fonts/BigJohn.otf") format("opentype");
}

@font-face {
    font-family: 'Slim Joe';
    src: url("../fonts/Slim+Joe.otf") format("opentype");
}

html, body {
    min-height: 100vh;
}

body {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
}