.footer {
	padding: 50px 0;
	background-color: $first-screen-bg;

	.row {
		justify-content: space-between;
		align-items: center;
	}

	&__copyrights {
		color: $white;

		& > * {
			color: $white;
			text-decoration: none;
		}
	}

	.social {

		&__menu {
			display: flex;
		}

		&__item {
			list-style: none;
			margin-right: 40px;

			&:last-child {
				margin-right: 0;
			}
		}

		&__link {
			display: flex;
			justify-content: center;
			align-items: center;
			color: $white;
			text-decoration: none;
			@include transition(background-color);
			width: 50px;
			height: 30px;
			position: relative;

			&::before,
			&::after {
				content: "";
				position: absolute;
			}

			&::before {
				top: 0;
				transform: translateY(-100%) rotate(180deg);
			}

			&::after {
				bottom: 0;
				transform: translateY(100%);
			}
			
		}
	}
}

@each $class, $color in $soc_icons {
	.#{$class} {
		background: $color url('../img/#{$class}.svg') no-repeat center;
		background-size: 50%;

		&:hover {
			background-color: lighten($color, 10%);

			&::before,
			&::after {
				border-top-color: lighten($color, 10%); 
			}
		}

		&::before,
		&::after {
			@include triangle(25px, $color);
			@include transition(border-top-color);
			border-top-width: 12px;
			border-bottom-width: 12px; 
		}
	}
}