@mixin overlay($z-index: 1) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index;
}

@mixin btn($color) {
    max-width: 140px;
    background: none;
    color: $color;
    border-radius: 3px;
    border: 2px solid currentColor;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all .2s ease;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    width: 100%;

    &:hover {
        color: white;
        background-color: $color;
        border-color: $color;
    }
}
@mixin row {
    display: flex;
    @content;
}

@mixin section-padding {
    padding: 70px 0;
}