.portfolio {
    @include section-padding;

    .row:not(:last-child) {
        margin-bottom: 35px;
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        flex-basis: 60%;
        margin: auto;

        &-item {
            list-style: none;
        }

        &-link {
            text-transform: capitalize;
            text-decoration: none;
            padding: 10px 15px;
            display: block;
            text-align: center;
            background-color: $grey;
            border-radius: 3px;
            color: $dark-text;
            transition: all .2s ease;

            &.active,
            &:hover {
                background-color: $green-color;
                color: $white;
            }
        }
    }

    &__list {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        list-style: none;
        margin-bottom: 40px;
        flex-basis: 57%;

        &:last-child,
        &:nth-last-child(2) {
            margin-bottom: 0;
        }

        &:nth-last-child(2) {
            order: 1;
        }

        &.small {
            flex-basis: 40%;

            & > * {
                padding-top: 76.2%;
            }
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        color: $white;
        position: relative;
        padding-top: 53.2%;
        border-radius: 10px;
        overflow: hidden;

        &::before {
            content: "";
            @include overlay;
            background: rgba($green-color, .8);
            z-index: 3;
            opacity: 0;
            transition: opacity .2s ease;
        }

        &:hover {
            &::before,
            [class*="__text"] {
                opacity: 1;
            }
        }
    }

    &__img {
        @include overlay;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        z-index: 4;
        text-align: center;
        display: inline-block;
        font-size: 30px;
        opacity: 0;

        & > * {
            font-size: 16px;
            display: block;
            margin-top: .5rem;
        }
    }
}