//COLORS
$white: #ffffff;
$black: #000000;
$grey: #c1c1c1;
$green-color: #48bf72;
$first-screen-bg: #3c4955;
$green-color: #48bf72;
$dark-text: $first-screen-bg;


$light-grey: lighten($black, 50%);


//FONTS
$fat-font: 'Big John';
$slim-font: 'Slim Joe';

$container-width: 1140px;