<div class="first-screen">
    <div class="container">
        <div class="row">
            <h1 class="first-screen__title">
                our services
            </h1>
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link">home</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link">services</a>
                </li>
            </ul>
        </div>
    </div>
</div>