<section class="plans section">
	<div class="container">
		<div class="row justify-content-center">
			<h2 class="section-title">
				pricing plans
			</h2>
		</div>
		<div class="row justify-content-center">
			<div class="col-8">
				<p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dicta esse facere doloremque rerum maiores eum fugiat, debitis magni tenetur!</p>	
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="plans__card">
					<h3 class="plans__card-title">
						Basic
					</h3>
					<div class="plans__card-price">
						$35.99 monthly
					</div>
					<ul class="marked-list">
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item1</a>
						</li>
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item2</a>
						</li>
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item3</a>
						</li>
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item4</a>
						</li>
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item5</a>
						</li>
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item6</a>
						</li>
					</ul>
					<a href="#" class="plans__card-btn">get started</a>
				</div>
			</div>
			<div class="col">
				<div class="plans__card">
					<h3 class="plans__card-title">
						Basic
					</h3>
					<div class="plans__card-price">
						$35.99 monthly
					</div>
					<ul class="marked-list">
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item1</a>
						</li>
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item2</a>
						</li>
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item3</a>
						</li>
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item4</a>
						</li>
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item5</a>
						</li>
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item6</a>
						</li>
					</ul>
					<a href="#" class="plans__card-btn">get started</a>
				</div>
			</div>
			<div class="col">
				<div class="plans__card">
					<h3 class="plans__card-title">
						Basic
					</h3>
					<div class="plans__card-price">
						$35.99 monthly
					</div>
					<ul class="marked-list">
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item1</a>
						</li>
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item2</a>
						</li>
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item3</a>
						</li>
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item4</a>
						</li>
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item5</a>
						</li>
						<li class="marked-list__item">
							<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item6</a>
						</li>
					</ul>
					<a href="#" class="plans__card-btn">get started</a>
				</div>
			</div>
		</div>
	</div>
</section>