<section class="wwd section">
	<div class="container">
		<div class="row justify-content-center">
			<h2 class="section-title">
				what we do
			</h2>
		</div>
		<div class="row justify-content-center">
			<div class="col-8">
				<p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dicta esse facere doloremque rerum maiores eum fugiat, debitis magni tenetur!</p>	
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<p class="wwd__text">
					Erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
				</p>
				<div class="row">
					<div class="col-6">
						<ul class="marked-list">
							<li class="marked-list__item">
								<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item1</a>
							</li>
							<li class="marked-list__item">
								<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item2</a>
							</li>
							<li class="marked-list__item">
								<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item3</a>
							</li>
							<li class="marked-list__item">
								<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item4</a>
							</li>
							<li class="marked-list__item">
								<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item5</a>
							</li>
						</ul>
					</div>
					<div class="col-6">
						<ul class="marked-list">
							<li class="marked-list__item">
								<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item1</a>
							</li>
							<li class="marked-list__item">
								<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item2</a>
							</li>
							<li class="marked-list__item">
								<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item3</a>
							</li>
							<li class="marked-list__item">
								<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item4</a>
							</li>
							<li class="marked-list__item">
								<a href="#" class="marked-list__link"><i class="fas fa-check-square"></i>item5</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="img-wrapper">
					<img class="img-fluid" src="img/image-man.jpg" alt="scientist">
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
</section>