* {
  padding: 0;
  margin: 0 auto;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.17;
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #fff;
  color: #213632;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.site-content {
}
.container {
  /* display: flex; */
  flex-direction: column;
  max-width: 1396px;
  width: 100%;
  border-left: 1px solid #f2f2f3;
  border-right: 1px solid #f2f2f3;
}
.content-area {
}
.site-main {
}
.site-main__header {
  margin-top: 83px;
}
.header-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-page__title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.3;
  color: #213632;
  margin-bottom: 70px;
}
.header-page__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.header-page__p {
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
}
.header-page__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  width: 540px;
  height: 90px;
  padding: 0 80px;
  background: #f6d580;
  border-radius: 5px;
}
.header-page__button img {
  margin-right: 10px;
  width: 60px;
  height: 55px;
}
.header-page__button:hover {
  background-color: #d57120;
  color: #fff;
  transition: all 0.3s linear;
}
.header-page__button:hover svg path {
  stroke: #fff;
  fill: #fff;
}
.article-page {
  padding: 15px;
  color: #213632;
  background-color: #fff;
  border: 1px solid #f2f2f3;
}
