* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	min-height: 100vh;
}

body {
	font-size: 100%;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container-daily {
	max-width: 650px;
	padding: 70px 90px;
	background-image: linear-gradient(29deg, #ff512f 0%, #dd2476 100%);
}

.form-account {
	display: flex;
	flex-wrap: wrap;
	padding: 35px 30px 65px;
	border-radius: 3px;
	background: #fff;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

.logo {
	min-width: 24px;
	min-height: 24px;
	margin-right: 12px;
	background-image: url('../images/sign-up-icon.png');
	background-repeat: no-repeat;
	font-size: 24px;
}

h1 {
	display: flex;
	flex-direction: row;
	align-items: start;
	font-size: 24px;
	line-height: 20px;
	color: #1b1c1d;
	font-family: "Arial";
	font-weight: bold;
	margin: 0 0 20px;
}

.up-text,
.low-text {
	font-size: 13px;
	line-height: 20px;
	color: #7a7b7f;
	font-family: "Arial";
}

.up-text {
	margin-bottom: 35px;
}

.log-in {
	text-decoration: none;
	color: #df2671;
}

.first-name,
.last-name {
	font-size: 14px;
	line-height: 20px;
	padding: 10px;
	color: #7a7b7f;
	font-family: Arial;
	min-width: 193px;
	min-height: 40px;
	border: none;
	border-radius: 4px;
	background-color: #f0f0f0;
	margin-bottom: 15px;
}

.first-name {
	margin-right: 14px;
}

.email,
.password {
	font-size: 14px;
	line-height: 20px;
	padding: 10px;
	color: #7a7b7f;
	font-family: Arial;
	min-width: 400px;
	min-height: 40px;
	border: none;
	border-radius: 4px;
	background-color: #f0f0f0;
	margin-bottom: 15px;
}

.clicking {
	font-size: 18px;
	line-height: 20px;
	color: #ffffff;
	font-family: "Arial";
	font-weight: bold;
	min-width: 400px;
	min-height: 50px;
	border-radius: 4px;
	border: 1px solid #bd1962;
	box-shadow: 0px 3px 0px #bd1962;
	background-color: #ea355a;
	margin-bottom: 25px;
	cursor: pointer;
}

.clicking:active {
	box-shadow: none;
	outline: none;
}


.container-payment {
	display: block;
	position: relative;
	padding: 45px 100px;
	max-width: 800px;
	font-family: 'Montserrat', sans-serif;
	background: url('../images/unsplash-bg.png') 40% 90%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 25px;
	background-color: #f8edaf;
}

.header__title {
	font-size: 14px;
	color: #6e7f7b;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	text-transform: capitalize;
}

.header__p {
	font-size: 10px;
	letter-spacing: 1px;
	color: #a6a28d;
	font-family: "Montserrat";
	font-weight: 400;
	text-transform: capitalize;
}

.price {
	font-size: 36px;
	letter-spacing: -1px;
	color: #637570;
	font-family: "Montserrat";
	font-weight: 600;
}

.left-block {
	display: flex;
	flex-direction: column;
}

.payment {
	width: 335px;
	height: 500px;
	background-color: #ffffff;
	padding: 45px 25px 35px;
	display: flex;
	flex-wrap: wrap;
}

.credit {
	font-size: 13px;
	color: #9eabad;
	font-family: "Montserrat";
	font-weight: 400;
	text-align: left;
	margin-bottom: 10px;
}

.number {
	width: 288px;
	height: 44px;
	background-color: #ffffff;
	border: 2px solid #82d4e7;

	font-size: 13px;
	color: #727f82;
	font-family: "Montserrat";
	font-weight: 400;
	margin-bottom: 25px;
	padding: 10px;

	/* width: 2px;
	height: 18px;
	background-color: #f7d36a; */
}

.date {
	font-size: 13px;
	color: #9eabad;
	font-family: "Montserrat";
	font-weight: 400;
	margin-bottom: 10px;
}

.date-row {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.month {
	width: 175px;
	height: 45px;
	background-color: #ffffff;
	border: 2px solid #bac8cb;
	padding-left: 10px;
	font-size: 13px;
	color: #727f82;
	font-family: "Montserrat";
	font-weight: 400;
	flex-basis: 60%;
}

.year-number {
	width: 110px;
	height: 45px;
	background-color: #ffffff;
	border: 2px solid #bac8cb;
	padding-left: 10px;
	font-size: 13px;
	color: #727f82;
	font-family: "Montserrat";
	font-weight: 400;
	flex-basis: 25%;
}

.cvv {
	font-size: 13px;
	color: #9eabad;
	font-family: "Montserrat";
	font-weight: 400;
	margin-bottom: 10px;
}

.cvv-block {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 286px;
	margin-bottom: 30px;
}

.cvv__password {
	width: 96px;
	height: 44px;
	background-color: #ffffff;
	border: 2px solid #bac8cb;
	margin-right: 20px;
}

.digits,
.example {
	font-size: 12px;
	color: #9eabad;
	font-family: "Montserrat";
	font-weight: 400;
}

.hr-one {
	width: 285px;
	height: 1px;
	background-color: #e4eaea;
	margin-bottom: 30px;
}

.btn-pay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pay {
	width: 285px;
	height: 50px;
	background-color: #25b86a;
	font-size: 20px;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 700;
	margin-bottom: 25px;
	border: none; 
}

.cancel-order {
	font-size: 12px;
	color: #9eabad;
	font-family: "Montserrat";
	font-weight: 400;
}