@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  font-size: 100%;
}

.col-12 {
  margin-bottom: 22px;
  overflow: hidden;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding-top: 105px;
}

.up-title {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #898f8f;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

.big-title {
  text-transform: uppercase;
  font-size: 3.75rem;
  color: #fc0;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.horizont-divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  margin: auto;
  margin-bottom: 40px;
}

.bonfire-icon {
  width: 18px;
  height: 22px;
  text-align: center;
  background-image: url("../image/bonfire-icon.png");
  background-repeat: no-repeat;
}

.horizont-divider-left,
.horizont-divider-right {
  width: 210px;
  height: 1px;
  background-color: #ffcc00;
}

.slider {
  padding-top: 100px;
  padding-bottom: 80px;
}

.main-page {
  padding: 125px 0 105px;
}

.developer-page {
  display: flex;
  justify-content: center;
}

.picture-side {
}

.left-anchor {
}

.photo {
}

.info-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 2.25rem;
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 65px;
}

.fe-developer {
  font-size: 1.5rem;
  color: #666666;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}

.icon-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.icon-item {
  font-size: 1.9rem;
  margin-right: 6px;
}

.icon-item:last-child {
  margin-right: 0;
}

.info-side p {
  max-width: 420px;
  font-size: 1rem;
  color: #333333;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 22px;
}

.yellow-line {
  display: flex;
  position: relative;
  min-width: 20px;
  height: 4px;
  background-color: #fc0;
  /* border: 3px solid #fc0; */
  margin-bottom: 25px;
}

.yellow-line::before,
.yellow-line::after {
  content: "";
  display: block;
  position: absolute;
  min-width: 10px;
  height: 4px;
  background-color: #fc0;
}

.yellow-line::before {
  right: 25px;
}

.yellow-line::after {
  left: 25px;
}

.view-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  /* width: 120px;
	height: 25px; */
  border: 1px solid #fc0;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.view-anchor:hover {
  color: #fff;
  background-color: #fc0;
}

rectangle {
  width: 1px;
  height: 560px;
  background-color: #fc0;
}

/* media */
@media (max-width: 768px) {
  .header {
    padding-top: 30px;
  }

  .big-title {
    font-size: 2.75rem;
  }

  .horizont-divider {
    margin-bottom: 0;
  }

  .up-title {
    line-height: 1.5rem;
  }
}
