* {
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
}

body {
	display: flex;
	font-family: "Poppins", sans-serif;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin: 0;
	/* border: 10px solid #2b81ac;
	background: #3399cc;
	color: #fff; */
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* card */
.card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	max-width: 420px;
	padding: 12px;
	margin: 22px;
	border-radius: 20px;
	background-color: #000;
	color: #fff;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-bar {
	border: none;
	border-radius: 22px;
	outline: none;
	padding: 8px;
	margin: 8px;
	background-color: #b9b9af;
	width: 100%;
}

.search-bar:hover {
	background-color: #c4c4c1;
}

.card button {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 32px;
	width: 100%;
	height: 32px;
	border: none;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	background-color: #b9b9af;
	margin: 6px;
}

.card button:hover {
	background-color: #c4c4c1;
}

.bi {}

.bi-search {}

.weather {}

.city {}

.temp {}

.icon {}

.description {}

.humidity {}

.wihd {}

.container {
	max-width: 1400px;
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	margin: 55px auto;
	border: 10px solid #2b81ac;
	background: #3399cc;
	color: #fff;
}

h1 {
	width: 100%;
	box-sizing: border-box;
	font-size: 34px;
	margin-top: 15px;
	display: inline-block;
	text-align: left;
}

.towns {
	list-style-type: none;
	/* font-family: Lucida Sans Unicode, Lucida Grande, sans-serif; */
	padding: 0;
	background: #fff;
	font-size: 0;
	display: block;
	width: 100%;
	text-align: center;
	border: 3px solid #fff;
	margin-bottom: 25px;
}

.towns li {
	display: inline-block;
	text-align: center;
	font-size: 16px;
	border: 3px solid #fff;
}

.wi {
	width: 25px;
	height: 25px;
}

a {
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding: 1.2rem 0;
	min-height: 100px;
}

p {
	text-align: center;
	margin: 0;
}

span {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60px;
	margin: auto;
	padding: 0;
}

.towns:hover li {
	opacity: .5;
}

.towns li:hover {
	opacity: 1;
}

.lisbon {
	width: 50%;
	background-color: #3399cc;
}

.paris {
	width: 25%;
	background-color: #33CCCC;
}

.belgrade {
	width: 25%;
	background-color: #996699;
}

.moscow {
	width: 25%;
	background-color: #C24747;
}

.telaviv {
	width: 25%;
	background-color: #e2674a;
}

.cair {
	width: 25%;
	background-color: #FFCC66;
}

.newyork {
	width: 25%;
	background-color: #99CC99;
}

.newdelhi {
	width: 25%;
	background-color: #669999;
}

.sanfran {
	width: 50%;
	background-color: #CC6699;
}

.tokyo {
	width: 25%;
	background-color: #339966;
}

.sydney {
	width: 100%;
	background-color: #666699;
}

.footer {
	width: 100%;
	font-size: 20px;
	text-align: left;
}

.footer__text {
	text-align: left;
}