* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html, body {
	height: 100%;
}

.container {
	margin: auto;
	border: 8px double;
	/* max-width: 800px; */
}
h1 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 800;
}
.row{
	margin-left: 10%;
	margin-right: 10%;
	position: relative;
}
.white, .black {
	border: 1px solid black;
	width: 10%;
	height: 100px;
	float: left;
}
.clear {
	clear: both;
}

/* .row:before,
.row:after {
	content: "";
	display: table;
}
.row::after {
	clear: both;
}
.row {
	*zoom: 1;
} */
.white {
	background-color: white;
}
.black {
	background-color: black;
}