html, body {
	min-height: 100vh;
}

body {
	font-family: $main-font;
	font-size: $base-size;
	color: $dark-text;
}

a {
	color: $dark-text;
	text-decoration: none;
	@include transition(color);

	&:hover {
		text-decoration: none;		
		color: $corp-green;
	}
}

.breadcrumbs {
	display: flex;
	margin: 0;
	padding: 0;

	&__item {
		list-style: none;

		&::after {
			content: "/";
			display: inline-block;
			margin: 0 px_to_rem(4px);
			font-weight: 700;
		}

		&:last-child {
			&::after {
				display: none;
			}			
		}
	}

	&__link {
		@include title;
		@include transition(color);

		&:hover {
			color: $corp-green;
		}
	}
}

.section {
	padding: px_to_rem(150px) 0;

	&-title {
		@include title($section-title);
		margin-bottom: px_to_rem(25px);
		@include green-line(65px, 20px);
	}

	&-description {
		text-align: center;
		margin-bottom: px_to_rem(100px);
		line-height: 2;
	}	
}

.marked-list {
	padding: 0;

	&__item {
		list-style: none;
		margin-bottom: px_to_rem(15px);
	}

	&__link {

		& > * {
			color: $corp-green;
			margin-right: px_to_rem(10px);
		}

	}
}