// *{
// 	padding: 0;
// 	margin: 0;
// }

// html, body {
// 	height: 100vh;
// }
// body {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	background-color: black;
// 	color: white;
// }
// label {
// 	display: inline-block;
// 	position: relative;

// 	&::after {
// 		content: "";
// 		position: absolute;
// 		display: block;
// 		$size: 15px;
// 		width: 15px;
// 		height: 15px;
// 		border: 2px solid white;
// 		border-left-color: transparent;
// 		border-right-color: transparent;  
// 		top: 50px;
// 		right: 0;
// 		// z-index: 0;
// 		pointer-events: none;
// 	}
// 	& > *{
// 	font-size: 48px;
// 	background-color: black;
// 	color: white;
// 	padding: 10px 50px 10px 10px;
// 	}
// }
// select {
// 	-webkit-appearance: none;
// 	position: relative;
// 	// z-index: 1;
// 	// background-color: transparent;
// }



@import "vars";
@import: "mixins";
@import: "common";
@import: "first-screen";
@import: "what-we-do";
@import: "top-line";
@import: 
