* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html, body {
	height: 100%;
}
body {
	font-size: 100%;
	font-family: sans-serif;
	color: white;
	font-size: 22px;
	background: #0e0e0e;
}
.out-box {
	min-height: 100%;
	border: 18px solid white;
	text-align: center;
	background-color: #3B3f45;
}
.header {
	display: inline-block;
	color: #eb7e7f;
	padding: 20px 0;
	text-align: center;
}
.menu{
	width: 50%;
	margin-bottom: 30px;
	background-color: #3b3f45;
	color: white;
	text-align: left;
	display: inline-block;
}
.food {
	list-style-type: none;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: none;
	border-right: none;
	background-color: #88839e;
	cursor: pointer;
}
.food [type="checkbox"]:checked ~ * {
	text-decoration: line-through;
	color: ;
}
em{
	font-size: 14px;
}
.btn-bonapp {
	color: #eb7e7f;
	background-color: #4a4f56;
	margin-top: 15px;
	width: 50%;
	height: 35px;
	font-size: 20px;
	display: inline-block;
	border: none;
}
.food:nth-child(2n) {
	background-color: #76747f;
}
.food:hover, .food:focus {
	background-color: #625e90;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.btn-bonapp .selection:checked {
	text-decoration: line-through;
	color: rgba(200, 200, 200, 1.0);
}
