@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");

* {
 font-family: 'Montserrat', sans-serif;
 margin: 0 auto;
 padding: 0;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 outline: none;
 border: none;
 text-decoration: none;
 -webkit-transition: all .2s linear;
 transition: all .2s linear;
}

html {
 font-size: 62.5%;
 overflow-x: hidden;
 scroll-behavior: smooth;
}

html::-webkit-scrollbar {
 width: 2rem;
}

html::-webkit-scrollbar-track {
 background: transparent;
}

html::-webkit-scrollbar-thumb {
 background: #44bb6a;
}

body {
 padding-left: 0;
}

main {
 padding: 3rem 5%;
}

p,
ul li,
ol li {
 font-size: 2.4rem;
 color: #000;
 line-height: 1.4;
 max-width: 100%;
 margin-bottom: 10px;
}


.heading {
 text-align: center;
 margin-bottom: 2rem;
}

h1 {
 font-size: 3rem;
 color: #44bb6a;
 text-transform: uppercase;
 padding-top: 1rem;
}

.gotodisk-wrapp {
 padding: 2% 9%;
}

span {
 font-weight: bold;
}

h2 {
 font-size: 2.5rem;
 color: #44bb6a;
 text-transform: uppercase;
 text-align: center;
 margin-bottom: 3rem;
 padding-top: 1rem;
}

h3 {
  font-size: 2rem;
 color: #44bb6a;
 text-transform: uppercase;
 text-align: center;
 margin-bottom: 2rem;
 padding-top: 22px;
}

h4 {
 font-size: 1.8rem;
  color: #44bb6a;
 text-transform: uppercase;
 text-align: center;
 margin-bottom: 2rem;
 padding-top: 22px;
}

a:hover {
 text-decoration: underline;
}

.italic {
 font-style: italic;
}

.block img {
 display: flex;
 max-width: 990px;
 margin-bottom: 32px;
}

.img-width {
 max-width: 330px;
 width: 100%;
}

.block {
 margin-bottom: 56px;
}

.text-center {
 text-align: center;
}

.bold-text {
 font-weight: bold;
}

.li-flex {
 display: flex;
 margin-bottom: 12px;
}

.li-flex img {
 margin: 0 14px 0 0;
}

.li-flex p {
 margin: 0;
}

.p-border {
 border: 2px solid #666699;
 border-radius: 4px;
 box-shadow: 0 1px 15px rgb(0 0 0 / 10%);
 padding: 16px;
}

.p-border-left {
 border-left: 2px solid #666699;
 padding: 16px;
}

.circle-border {

 padding: 3px 13px;
 border: 1px solid #666699;
 border-radius: 50%;
}

.bg-yellow {
 background-color: #f9f4bb;
}

.list {
 padding-left: 4%;
 margin-bottom: 22px;
}

.link-underline:hover {
 text-decoration: underline;
}

hr {
 display: block;
 height: 1px;
 background-color: #777;
 margin: 15px 0;
}

@media (max-width: 1024px) {
 main {
  padding: 3rem;
 }

 .gotodisk-wrapp {
  padding: 2% 4%;
 }
}

@media (max-width: 880px) {
 h2 {
  font-size: 2rem;
 }

 p,
 ul li,
 ol li {
  font-size: 1.5rem;
  line-height: 1.3;
 }

 .img-width-media,
 img {
  max-width: 770px;
  width: 100%;
 }

 .table,
 .column-text p {
  font-size: 1.8rem;
 }
}

@media (max-width: 520px) {
 h1 {
 font-size: 2rem;
 padding-top: .5rem;
 margin-bottom: 8px;
}

.heading, h2 {
 margin-bottom: 2rem;
}

.block {
 margin-bottom: 22px;
}

 .table,
 .column-text p {
  font-size: 1rem;
 }
}