*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

html,
body
{
    min-height: 100vh;
}

body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    color: white; 
    background-color: black;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

form
{
    max-width: 30%; 
    padding: 15px;

    color: black;
    border-radius: 20px;
    background: white;
}

fieldset
{
    padding: 30px;
}
fieldset > *
{
    display: block;
}
fieldset > *:not(label),
fieldset > *:not(legend)
{
    border: 1px solid black;
}
fieldset label
{
    margin-bottom: .5rem;
}
fieldset [id]
{
    margin-bottom: 1rem;

    border-radius: 5px;
}
fieldset [type='submit']
{
    min-width: 50%;
    padding: 15px; 

    text-transform: uppercase;

    color: white;
    border-color: #f4f4f4;
    border-radius: 5px;
    background-color: #c3c3c3;
}
fieldset input,
fieldset select
{
    padding: 5px;
}
fieldset input:not([type='submit']),
fieldset input:not([type='radio']),
fieldset textarea
{
    width: 100%;
}
