<header class="header">
	<div class="top-line">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-1">
					<a class="top-line__logo" href="/">
						<img src="../../fav/Logo.png" alt="logo">
					</a>
				</div>
				<div class="col-7">
					<nav class="top-line__menu">
						<ul>
							<li class="menu-item"><a href="#" alt="">home</a></li>
							<li class="menu-item"><a href="#" alt="">about</a></li>
							<li class="menu-item"><a href="#" alt="">services</a></li>
							<li class="menu-item"><a href="#" alt="">works</a></li>
							<li class="menu-item"><a href="#" alt="">contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>