@media (any-hover: hover) {
  .item-product__actions {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 58, 58, 0.74);
    z-index: 3;
    opacity: 0;
    visibility: hidden;
  }

  .item-product:hover .item-product__actions {
opacity: 1;
visibility: visible;
  }
}

@media (any-hover: none) {
  .item-product__actions {
    padding-top: 15px;
  }
}