* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html, body {
	min-height: 100vh;
}
body {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
form {
	color: black;
	background: white;
	padding: 15px;
	border-radius: 20px;
	max-width: 30%;
}
fieldset {
	padding: 30px;

	&>* {
		display: block;
	}
	&>*:not(label),
	&>*:not(legend) {
		border: 1px solid black;
	}
label {
	margin-bottom: .5rem;
}
[id] {
	margin-bottom: 1rem;
	border-radius: 5px;
}
[type="submit"] {
	border-radius: 5px;
	background-color: #c3c3c3;
	border-color: #f4f4f4;
	color: white;
	text-transform: uppercase;
	min-width: 50%;
	padding: 15px;
}
input, select {
	padding: 5px;
}
input:not([type="submit"]),
input:not([type="radio"]),
textarea {
	width: 100%;
}
}