* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	min-height: 100vh;
}

body {
	font-size: 100%;
	background: url('../images/bg.png') no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	font-family: Museo Sans Rounded, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 685px;
	max-height: 390px;
	border-radius: 10px;
	background-color:  #111a28;
	box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.82);
	margin: auto;
	padding: 25px;
}

.logo {
	display: flex;
	margin-bottom: 10px;
	max-height: 33px;
	border: none;
}

.logo__link,
.logo__image {
	display: block;
	width: 65px;
	height: 35px;
}

.gallery {
	display: flex;
	justify-content: space-around;
}

.picture {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 4%;
}

.shop-window {
	min-width: 330px;
	margin-bottom: 60px;
}

.shop-window__link {
	display: block;
	position: relative;
	padding-top: 55%;
}

.shop-window__image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.points {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.radio-1,
.radio-2,
.radio-3,
.radio-4 {
	display: inline-block;
	border-radius: 50%;
	margin-right: 5px;
	cursor: pointer;
	width: 9px;
	height: 9px;
}

.radio-4 {
	margin-right: 0;
}

input[type="radio"] {
	display: none;
}

.radio-1 {
	background-color: #3a1af2;
}

.radio-2 {
	background-color: #fcfcfc;
}

.radio-3 {
	background-color: #ea2f2f;
}

.radio-4 {
	background-color: #24e1e8;
}

input[type="radio"]:checked + label {
	background-color: #6d6d6d;
	border: 1px solid #7e838b;
	transform: scale(1.4, 1.4);
	transition: .2s ease;
	box-shadow: -1px -1px -1px -1px;
}

.info {
	display: flex;
	flex-direction: column;
	width: 35%;
}

.info__title {
	font-family: Museo Sans Rounded, sans-serif;
	color:  #e1e1e1;
	font-size: 24px;
	line-height: 26px;
	text-align: left;
	font-weight: 400;
	margin-bottom: 5px;
}

.info__text {
	font-family: Museo Sans Rounded, sans-serif;
	color:  #e1e1e1;
	font-size: 14px;
	line-height: 26px;
	text-align: left;
	opacity: .5;
	margin-bottom: 15px;
}

.star {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.star__item {
	margin-right: 5px;
}

.star__item:last-child {
	margin-right: 0;
}

.gold::before {
	content: "\2605";
	font-size: 16px;
	color: #f4be0e;
}

.gray::before {
	content: "\2605";
	font-size: 16px;
	color: #989ca2;
}

/* .star__link {
	display: block;
} */

/* .far {
	width: 12px;
	height: 12px;
} */

/* .gold {
	color: #f4be0e;
}

.gray {
	color: #989ca2;
} */

.form {
	display: flex;
	flex-direction: column;
}

.size-qty {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	max-width: 150px;
}

.window {
	position: relative;
}

.window::after {
	display: block;
	position: absolute;
	content: "";
	font-size: 16px;
	width: 8px;
	height: 8px;
	top: 6px;
	right: 8px;
	color: #e1e1e1;
	border: 1px solid #e1e1e1;
	border-top-color: transparent;
	border-left-color: transparent;
	transform: rotate(45deg);
	pointer-events: none;
}

.order,
.quantity {
	background-color:  #111a28;
	color: #e1e1e1;
	padding: 10px;
	overflow: hidden;
	cursor: pointer;
}

.sending {
	width: 90%;
	padding: 10px;
	margin-bottom: 0;
	background-color: #1a2330;
	color: #93969b;
	border: 1px solid #93969b;
	cursor: pointer;
}