* {
  padding: 0;
  margin: 0 auto;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: #213632;
  text-decoration: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 23px;
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #fff;
  color: #213632;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1396px;
  width: 100%;
  border-left: 1px solid #f2f2f3;
  border-right: 1px solid #f2f2f3;
}
.content-area {
  max-width: 1396px;
  width: 100%;
}
.site-main__header {
  margin-top: 80px;
  margin-bottom: 32px;
}
.header-page__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  color: #213632;
  text-align: center;
}
.form {
  position: relative;
  display: flex;
  justify-content: start;
  width: 480px;
  height: 43px;
  background: #f7fbfe;
  border: 2px solid #c4c4c4;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0;
}
.form__search-input {
  background: #f7fbfe;
  margin-left: 40px;
}
.form__button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 17px;
  height: 22px;
  border: none;
  background-image: url(../images/search-icon_filter.png);
  background-color: transparent;
}

.filter {
  margin-bottom: 70px;
}

.catalog__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 35px 14px;
}
.cards__sorting_info {
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  color: #213632;
}
.cards__sorting {
  margin: 0;
}
.cards__sorting span {
  font-size: 16px;
  line-height: 19px;
  color: #213632;
}
.cards__select {
  font-size: 16px;
  line-height: 22px;
  color: #213632;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.dog-card {
  position: relative;
  max-width: 281px;
  width: 100%;
  max-height: 344px;
  height: 100%;
  background: #f3f3f3;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 90px;
}
.dog-card:hover {
 margin-top: -3px;
  box-shadow: 2px 3px 5px rgba(0,0,0,.3);
}
.dog-card__labels {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  right: 0;
  max-width: 150px;
  width: 100%;
  height: auto;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  z-index: 2;
}
.dog-card__label {
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-align: center;
}
.dog-card__label_happening {
  max-width: 150px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0b213;
  margin: 16px 0 9px;
}
.dog-card__label_friend {
  max-width: 120px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #77de38;
  margin-right: 0;
}
.dog-card__image {
  position: relative;
  display: block;
  max-width: 280px;
  width: 100%;
  max-height: 310px;
  height: 100%;
  padding-top: 110%;
  border: none;
}
.dog-card__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.dog-card__content {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #213632;
}

.join {
  min-height: 188px;
  height: 100%;
  margin-bottom: 140px;
}
.join__more {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.join__more-content {
 width: 0;
}
.join__more-link {
  position: relative;
  max-width: 210px;
  width: 100%;
  min-height: 35px;
  height: auto;
  background: #f0b213;
  border-radius: 4px;
  margin-bottom: 16px;
}
.join__more-link a {
  position: absolute;
  text-align: center;
  padding-top: 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.join__more-link:hover a {
  color: #fff;
  background-color: #d57120;
  border-radius: 4px;
  transition: all 0.3s linear;
}
.join__more-pagination {
  width: 14%;
  margin-right: 0;
  margin-bottom: 16px;
}
.join__more-pagination a {
  display: block;
  text-align: center;
  color: #213632;
  font-size: 16px;
  line-height: 19px;
  padding-top: 9px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.join__more-pagination a:hover:not(.active) {
  text-decoration: underline;
}
.join__more-pagination .active {
  background-color: #f0b213;
}
