@media (max-width: 1170px) {

	.container {
		margin: 0 15px;
	}
}

@media (max-width: 768px) {

	.container {
		margin: 0 15px;
	}

	.container-header {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 555px;
	}

	nav {
		margin-top: 33px;
		z-index: 4;
	}

	.nav {
		display: none;
		margin-top: 155px;
		text-align: center;
	}

	.header__btn-menu {
		display: block;
		text-align: right;
	}

	.nav__item {
		background-color: #7cea83;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		padding: 8px 0;
	}

	.title {

	}

	.title h1 {
		font-size: 35px;
		font-weight: 500;
	}
}