* {
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: #565252;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #565252;
}

h3 {
	font-size: 35px;
	font-weight: 500;
	margin-bottom: 15px;
}

/* <section class="section-main"> */
.section-main {
	background-image: url('../images/site-hero.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	margin-bottom: 90px;
}

.logo-svg {
	font-weight: 900;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 550px;
}

.nav__item {
	border-bottom: 1px solid transparent;
}


.nav__item:hover {
	border-bottom: 1px solid #565252;
}

.nav__item a {
	text-transform: capitalize;
}

.title {
	display: flex;
	justify-content: center;
}

.title h1 {
	font-size: 50px;
	font-weight: 500;
}

/* <section class="section-about"> */
.section-about {
	height: 830px;
	padding: 90px 0 20px;
	background-color: #2e2e2e;
}

.about {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.about__left-block {
	display: flex;
	align-items: center;
	width: 50%;
}

/* --- padding-hack --- */
.left-block-image {
	position: relative;
	width: 100%;
	width: 500px;
	height: 333px;
	display: block;
	padding-top: 80px;
	background-color: red;
}

.left-block-image img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about__rigth-block {
	width: 50%;
}

.about__rigth-block h2 {
	font-size: 48px;
	line-height: 35px;
	/* color: #22222b; */
	font-weight: 500;
	margin-bottom: 30px;
	color: #fff;
}

.about__rigth-block p {
	width: 520px;
	height: 118px;
	font-size: 16px;
	line-height: 24px;
	/* color: #7f7f82; */
	color: #fff;
}

.skills {
	position: relative;
	display: flex;
	margin-bottom: 20px;
	padding: 24px 10px 18px;
	background: linear-gradient(#616161 0%, #333 10%, #222);
	border-radius: 8px;
	border: 2px solid #000;
	overflow: hidden;
	transition: .5s;
}

.skills:last-child {
	margin-bottom: 0;
}

.skills::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 53%;
	background: rgba(255, 255, 255, .1);
	z-index: 10;
}

.skills__name {
	position: relative;
	width: 110px;
	text-align: right;
	color: #fff;
	padding-top: 2px;
	/* margin-top: -2px; */
}

.value {
	position: relative;
	width: 40px;
	text-align: left;
	color: #fff;
	/* margin-top: -2px; */
}

.skills__percent {
	position: relative;
	width: calc(100% - 150px);
	height: 20px;
	margin: 0 10px;
	border-radius: 10px;
	background-color: #151515;
	box-shadow: inset 0 0 10px #000;
	overflow: hidden;
}

.progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	/* width: 80%; */
	height: 100%;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: inset 0 0 2px #000;
	animation: animate 4s ease-in-out forwards;
}

@keyframes animate {
	from {
		width: 0;
	}
}

.skills:nth-child(2n) .skills__percent .progress-bar {
	background: linear-gradient(45deg, #1fe6ff, #673ab7);
}
.skills:nth-child(2n+1) .skills__percent .progress-bar {
	background: linear-gradient(45deg, #3bc0ff, #33ff00);
}

/* <section class="section-services"> */
.section-services {
	height: 855px;
	background-color: #dbdbdb;
}

.services {
	margin: 0 auto;
}

.services__title,
.portfolio__title {
	text-align: center;
	padding: 60px 0 40px;
}

.services__title p,
.portfolio__title p {
	width: 390px;
	/* height: 28px; */
	font-size: 16px;
	line-height: 26px;
	color: #7f7f82;
	margin: 0 auto;
}

.services__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.item-service {
	width: 30%;
	height: 280px;
	padding: 6px 0 0 12px;
	margin-bottom: 22px;
	background-color: #green;
}

.item-service:hover {
	background-color: #c9c7c7;
	transition: .5s;
	cursor: pointer;
}

.item-service__icon {
	height: 45px;
	margin-bottom: 30px;
}

.item-service__title {
	font-size: 22px;
	line-height: 24px;
	color: #22222b;
	margin-bottom: 20px;
}

.item-service p {
	line-height: 26px;
	color: #7f7f82;
	margin-bottom: 20px;
}

/* <section class="section-portfolio"> */
.section-portfolio {
	background-color: #eee;
	padding: 40px 0;
}

.portfolio {

}

.web-technology {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 550px;
	margin-bottom: 25px;
}

.web-technology__item {
	border-bottom: 1px solid transparent;
}

.web-technology__item:hover {
	border-bottom: 1px solid #565252;
}

.portfolio__works {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.portfolio__works-image {
	position: relative;
	display: block;
	width: 31%;
	height: 350px;
	/* background-color: green; */
	/* padding-top: 80px; */
	margin-bottom: 22px;
}

.portfolio__works-image img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 5;
}

.portfolio__works-text__hover {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #7cea83;
	transition: all .3s;
	opacity: 0;
}

.portfolio__works-text {
	
}

.portfolio__works-text span {
	font-size: 44px;
	line-height: 20px;
	color: #fff;
	font-weight: 700;
}

.portfolio__works-image:hover .portfolio__works-text__hover {
	opacity: 1;
}

.portfolio__works-image:hover img {
	opacity: .1;
}

/* <section class="section-form"> */
.section-form {
	height: 520px;
	background-color: #fdfdfd;
	padding-top: 40px;
	padding-bottom: 30px;
}

.container__form,
.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* width: 1170px;
	margin: 0 auto; */
}

.container__form p {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 20px;
}

.form__input,
.form__button,
.form__textarea {
	width: 750px;
	text-align: center;
}

.form__input,
.form__textarea {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px solid #565252;
	transition: .5s;
}

.form__input:focus,
.form__textarea:focus {
	outline: none;
}

.form__input {
	height: 65px;
	margin-bottom: 12px;
}

.form__textarea {
	padding: 12px 22px;
	margin-bottom: 35px;
	height: 100px;
}

.form__button {
	height: 65px;
	background-color: #7cea83;
	border: none;
	cursor: pointer;
	border-radius: 6px;
}

.form__button:hover,
.form__button:focus {
	background-color: #42e54a;
	outline: none;
	transition: .3s;
}

.form__button:active {
	background-color: #61f430;
	outline: none;
	transition: .3s;
}

/* thanks.html */
.error {
	width: 750px;
	text-align: center;
	margin-bottom: 3px;
	padding: 10px 20px;
	background-color: rgba(224, 79, 54, .6);
	border-radius: 8px;
	color: #fff;
	font-weight: 700;
	font-size: 20px;
}

.title-success {
	color: #7cea83;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
}

.goback {
	display: block;
	width: 100%;
	height: 52px;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	background-color: #7cea83;
	text-align: center;
	padding-top: 8px;
	border-radius: 18px;
}

.goback:hover,
.goback:focus {
	background-color: #42e54a;
	outline: none;
	transition: .3s;
}

.goback:active {
	background-color: #61f430;
	outline: none;
	transition: .3s;
}

/* <section class="section-footer"> */
.section-footer {
	height: 150px;
	background-color: #22222b;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
}

.footer__copyright {

}

.footer__copyright p {
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #fff;
}

.footer__social {
	display: flex;

}

.footer__social-link {
	margin-right: 12px;
}

.footer__social-link:last-child {
	margin-right: 0;
}

.footer__social-link a svg {
	background-color: #fff;
	border-radius: 6px;
}

.footer__social-link:hover a svg {
	background-color: #7cea83;
	transition: .4s;
}