* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'PT Sans Caption', sans-serif;
}

.header {

}
hr {
	width: 100%;
	height: 3px;
	background-color: #112266;
	padding: 0;

}
.header-line {
	margin-bottom: 110px;
}
.logo {
	font-family: Raleway, sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.name {
	font-size: 2rem;
	font-weight: 900;
	color: #112266;
}
.name-p {
	font-size: 0.8rem;
	font-weight: 400;
	color: #767a7c;
	letter-spacing: .1em;
}
.navbar ul {
	display: flex;
	align-items: center;
}
.navbar-item {
	margin: 0 5px 0;
}
.navbar-item a {
	text-transform: uppercase;
	font-size: 0.8rem;
	color: #767a7c;
	font-weight: 400;
	text-decoration: none;
}
.navbar-item a:hover {
	color: #112266;
}
.header-below {
	margin-bottom: 55px;
}
.text-line {
	font-size: 1.4rem;
	color: #767a7c;
	text-align: start;
}
.socials {
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #767a7c;
	text-align: center;
}
.socials p {
	margin-bottom: 12px;
}
.socials-icons {
	display: flex;
	justify-content: center;
	align-items: center;
}
.socials-icons a {
	margin-right: 12px;
}
.socials-icons a:last-child {
	margin-right: 0;
}


.works {
	background-color: #112266;
	display: flex;
	flex-wrap: nowrap;
	padding: 25px 0 25px;
}
.works-items {

}
.works a {
	text-decoration: none;
}
.works img {
	max-width: 270px;
	max-height: 180px;
	margin-bottom: 8px;
}
.works-title {
	color: #ecf0f1;
	font-family: Roboto;
	font-weight: 400;
}
.works-title h4 {
	font-size: 1.1rem;
	margin-bottom: 6px;
}
.works-title p {
	font-size: 0.8rem;
	margin-bottom: 25px;
}


.footer-box {
	padding:  65px 0 20px;
	display: flex;
	justify-content: center;
}
.footer-box h5 {
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #767a7c;
	text-align: center;
	margin-bottom: 15px;
}
.footer-box p {
	font-size: 1rem;
	color: #767a7c;
	text-align: center;
	margin-bottom: 15px;
}
/* .footer-link a {
	margin-right: 0;
}
.footer-link a:last-child {
	margin-right: 0;
} */


@media screen and (max-width: 1024px) {
	.header-line {
		margin-bottom: 20px;
	}
	.text-line {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.logo {
		margin-bottom: 20px;
	}
	.header-below_title {
		margin-bottom: 15px;
	}
	.works a,
	.works-title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.footer-box h5,
	.footer-box p {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.footer-info {
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 425px) {
	.header-below_title {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.text-line {
		font-size: 1rem;
	}
	.works a,
	.works-title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.footer-link {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}



#bec3c7;
#767a7c;