* {
  padding: 0;
  margin: 0 auto;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: #213632;
  text-decoration: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 23px;
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #fff;
  color: #213632;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1396px;
  width: 100%;
  border-left: 1px solid #f2f2f3;
  border-right: 1px solid #f2f2f3;
}
.content-area {
  max-width: 1396px;
  width: 100%;
}

.site-main__header {
  margin-top: 80px;
  margin-bottom: 140px;
}
.header-page {
 padding: 0 15px;
}
.header-page__title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #213632;
  margin-bottom: 60px;
  text-align: center;
}
.header-page__text {
  margin-bottom: 115px;
}
.header-page__p {
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
.header-page__button {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  width: 315px;
  height: 70px;
  padding: 0 40px;
  background: #f6d580;
  border-radius: 5px;
}
.header-page__button-content {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
}

.header-page__button:hover {
  background-color: #d57120;
  color: #fff;
  transition: all 0.3s linear;
}
